[Service]
ExecStart=
ExecStart=/usr/bin/varnishncsa -a -w /var/log/varnish/varnishncsa.log -D -P /run/varnishncsa/varnishncsa.pid -F '%%{X-Forwarded-For}i  %%l %%u %%t "%%r" %%s %%b "%%{Referer}i" "%%{User-agent}i"'
